<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 添加至主屏幕时不显示工具栏 -->
	<meta name="apple-mobile-web-app-capable" content="no">
	<!-- 禁止网页使用拨号功能 -->
	<meta name="format-detection" content="telephone=no">
	<title></title>
	<link rel="icon" href="" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/upload.css">
</head>
<body>
	<!-- 主体 -->
	<div class="container containerfullScreen">

		<!-- 顶部状态栏 -->
		<header class="topbar">
			<div class="topbar-left"><div class="topbar-back"></div></div>
			<div class="topbar-right frowardBtn"><div class="topbar-forward"></div></div>
			<!-- LOGO -->
			<h1 class="logo"><a href="/"><span class="hide">winds</span></a></h1>
		</header>

		<!-- 主要内容 -->
		<div class="main fullScreen">
			<div class="cut-frame">
				<img src="../images/usr_img/usr_l/ce5.png" class="cut-img">
				<div class="cut-masklayer cut-lay"></div>
				<div class="cut-selectWrap cut-lay">
					<div class="cut-select">
						<img src="../images/usr_img/usr_l/ce5.png" class="cut-select-img">
					</div>
					<div class="cut-fr-dotWrap cut-dotWrap"><i></i></div>
					<div class="cut-sec-dotWrap cut-dotWrap"><i></i></div>
					<div class="cut-thr-dotWrap cut-dotWrap"><i></i></div>
					<div class="cut-fou-dotWrap cut-dotWrap"><i></i></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>